html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #A50204;
  color: #ffffff;
  border-radius: 20px;
}

.container {
  text-align: center;
  margin-bottom: 40px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.searchBox{
  margin: 20px 0 40px;
  padding: 10px 40px;
  outline: none;
  font-size: 1.3rem;
  text-align: center;
}

/* Image inner styles */

ul span {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
.dimensions {
  margin-bottom: 40px;
}