
/* IMAGE LIST STYLES */
.image_list_wrap {
  display: flex;
  flex-wrap: wrap;
}

.image_card {
  width: 33.33%;
  padding: 10px;
}

.image {
  transition: 0.3s ease-in-out;
}

.image:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/* SINGLE IMAGE PAGE STYLES */

.image_container {
  display: flex;
  justify-content: center;
}

.image_content {
  padding: 20px 40px;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.tag {
  background-color: lightgrey;
  margin: 5px;
  padding: 5px 12px 7px;
  border-radius: 20px;
}