
.nav {
  background: #590004;
  padding: 20px 40px;
  color: #FCBA04;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_item {
  padding: 10px 20px;
}

.list_item>a:hover {
  color: #F3F3F3;
  border-bottom: 2px solid #F3F3F3;
}